
:root{
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--radius: 0.5rem;
	--max-width: 1170px;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	background-color: lightblue;
}


.opening-article{
	align-content: center;
	background-color: white;
}
#heading-one {
	text-shadow: 5px;
	text-decoration: underline;
}
.banner {
	width: 100px;
	height: 150px;
	background-color: white;
	border: 1px solid #000; /* Add a border for the rounded corners */
	border-radius: 10px; /* Adjust the radius as needed for the desired corner roundness */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

 


